<!DOCTYPE html>
<html>
<head>
    <title>Resultado da Transcrição de Áudio</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <main>
        <!-- <h1>Resultado da Transcrição de Áudio</h1> -->
        <h1>Áudio Enviado:</h1>
        <audio controls>
            <source src="{{ audio_file }}" type="audio/mp4">
            Seu navegador não suporta a reprodução de áudio.
        </audio>
    
        <h2>Transcrição:</h2>
        <p>{{ transcript }}</p>
    </main>
</body>
</html>
